footer {
  .footer-wrapper {
    .sub-footer {
      background-color: $DesaturatedBlue;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .sub-footer-text {
        width: 500px;
        h4 {
          color: $LightGrayishBlue;
          font-size: 1.2rem;
          padding-bottom: 15px;
        }
        p {
          color: $LightGray;
          line-height: 1.4;
          font-size: 17px;
        }
      }
      .sub-footer-buttons {
        .email {
          width: 400px;
          display: block;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 4px;
          text-indent: 10px;
          &::placeholder {
            color: $LightGray;
            font-size: 10px;
          }
        }
        .submit {
          background-color: $BrightBlue;
          color: #fff;
          padding: 12px;
          border: none;
          border-radius: 5px;
          font-size: 12px;
          width: 200px;
        }
      }
    }
    .main-footer {
      background-color: $VeryDarkBlue;
      color: $LightGrayishBlue;
      .footer-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-block: 1rem;
        .footer-1 {
          img {
            height: 40px;
            margin-bottom: 10px;
          }
          ul li {
            margin-bottom: 10px;
            font-size: 12px;
          }
        }
        .footer-2,
        .footer-3 {
          font-size: 14px;
          ul li {
            margin-bottom: 10px;
          }
        }
        .footer-4 {
          .socials i {
            padding-right: 10px;
          }
        }
      }
    }
  }
}
